.header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.body
{
  background-color: #fff0f5;
  padding: 20px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 380px;
  margin: 20px auto;
  border: 3px solid #f170b1;
}

.body h2{
  font-size: 20px;
  text-align: left;
}

.highlight{
  display: inline;
  background-color: yellow;
}
.link{
    text-align: center;
}
