img{
  width:90px;
  float:right;
  margin: auto;
}

a{
  text-decoration: none;
  font-style: normal;
}


body{
  font-family: "Arial", "arial", "cursive";
}

h1{
  font-family: "Arial", "arial", "cursive";
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

label {
    display: block;
}

input,label {
    margin: .4rem 0;
}

span{
  background-color: greenyellow;
}
